.App-header {
  background-color: white;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home-image-container {
  margin-top: -10%;
}

.parallax-home-page{
  background-image: url("../../../resources/images/steak.jpg");
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-text{
  background: #fcf8f4;
  color: black;
  min-height: 25vh;
  text-align: center;
  font-size: 18px;
  padding-top: 5%;
}

.dinning-room{
  width: 100%;
}



.menu-container{
  margin-top: 5%;
  background: #fcf8f4;
}

.menu-card{
  position: absolute;
  color: black;
  background: white;
  width: 29%;
  height: 25vh;
  margin-left: 23%;
  font-size: 18px;
}

.menu-image{
  width: 50%;
  height: 60vh;
  margin-left: -25%;
}



.party-room-container{
  padding-top: 5%;
  background: #fcf8f4;
}

.party-card{
  position: absolute;
  color: black;
  background: white;
  width: 29%;
  height: 25vh;
  margin-left: -25%;
  font-size: 18px;

}

.party-room-image{
  width: 50%;
  height: 60vh;
  margin-left: 25%;
}



.lunch-card-container{
  padding-top: 5%;
  background: #fcf8f4;
}

.lunch-card{
  position: absolute;
  color: black;
  background: white;
  width: 29%;
  height: 25vh;
  margin-left: 24%;
  font-size: 18px;

}

.lunch-image{
  width: 50%;
  height: 60vh;
  margin-left: -25%;
}
