.App-header {
  background-color: white;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home-image-container {
  margin-top: -10%;
}

.parallax-home-page {
  background-image: url("../../../resources/images/steak.jpg");
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-text {
  background: #fcf8f4;
  color: black;
  min-height: 25vh;
  text-align: center;
  padding-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 20px;
}

.dinning-room {
  width: 100%;
}

.card-link {
  font-size: 17px;
  text-decoration: none;
  color: black;
}



/*START OF MENU-ROOM CSS*/
.menu-container {
  margin-top: 5%;
  background: #fcf8f4;
}

.menu-card {
  text-align: center;
  position: absolute;
  color: black;
  background: white;
  width: 29%;
  height: 25vh;
  margin-left: 23%;
  font-size: 18px;
}

.menu-image {
  width: 50%;
  height: 60vh;
  margin-left: -25%;
}

.menu-link-container {
  margin-top: 5%;
}
/*END OF MENU-ROOM CSS*/




/*START OF PARTY-ROOM CSS*/
.party-room-container {
  padding-top: 5%;
  background: #fcf8f4;
}

.party-card {
  text-align: center;
  position: absolute;
  color: black;
  background: white;
  width: 29%;
  height: 23vh;
  margin-left: -25%;
  font-size: 18px;

}

.party-room-image {
  width: 50%;
  height: 60vh;
  margin-left: 25%;
}

.party-link-container {
  margin-top: 10%;
}
/*END OF PARTY-ROOM CSS*/



/*START OF CATERING-ROOM CSS*/
.catering-card-container {
  padding-top: 5%;
  background: #fcf8f4;
  margin-bottom: 10%;
}

.catering-card {
  text-align: center;
  position: absolute;
  color: black;
  background: white;
  width: 33%;
  height: 27vh;
  margin-left: 27%;
  font-size: 18px;
  padding: 1%;

}

.catering-image {
  width: 50%;
  height: 60vh;
  margin-left: -25%;
}

.carting-link-container {
  margin-top: 4%;
}
/*END OF CATERING-ROOM CSS*/
