.cart-container{
    background: tan;
    transition: opacity 1s linear;
    padding: 2%;
}

.cart-item{
    border-bottom: black 1px solid;
    text-align: center;
    font-size: 25px;
}

.remove-item-transition {
    transition: opacity 3s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.cart-btn {
    width: 40%;
    height: 5vh;
}