.cart-growl{
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    text-decoration: none;
    background-color: #7fbcec;
    border: 0 none;
    color: #212121;
    opacity: 0.9;
    margin-top: 3%;
    text-align: center;
}