.restaurant-container {
    background: white;
}

.menu-selection-first {
    text-align: center;
}

.menu-selection{
    padding-top: 10%;
    text-align: center;
}

.surf-n-turf{
    background-image: url("../../../resources/images/surf-and-turf.jpg");
    background-size: 100% 181%;
    min-height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    margin-top: -125px;
}